[Unit]
Description=FluidSynth: Some games use this
Requires=mpd.service
After=mpd.service

[Service]
ExecStart=/usr/bin/fluidsynth -l -s -i -a pipewire -o audio.alsa.device=default /usr/share/soundfonts/FluidR3_GM.sf2
Restart=on-failure

[Install]
WantedBy=default.target
